@use './variables' as *;

.sidebar-settings-fields {
  position: sticky;
  top: 50px;
  right: 0;
  height: fit-content;
  padding: 20px 10px;
  background-color: $white;
  box-shadow: 1px 2px 6px $shadow;
  border-radius: 10px;
  max-width: 35%;
  width: 100%;

  h4{
    font-size: clamp(19px, 4vw, 25px);
    color: $primary;
    margin-bottom: 20px;
  }

  .container-add-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;

    label {
      line-height: 1;
      margin: 0;
      font-size: 17px;
      color: $black;
      font-weight: 600;
    }
    input, select, textarea{
      color: $black;
      font-size: 16px;
      font-weight: 300;
      max-width: 100%;
      &::placeholder{
        color: $placeholder;
      }
    }

    .basic-field {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin: 0;

      [type="checkbox"] {
        width: max-content;
      }
    }

    .extra-fields {
      margin-top: 30px;
      .extra {
        display: none;
        flex-direction: column;
        gap: 10px;

        &.extra-visible {
          display: flex;
        }

        .flex-extra{
          display: flex;
          flex-direction: column;
          gap: 10px;

          p{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 0;
          }
        }

        .wrapper-items-fields{
          display: flex;
          flex-direction: column;
          gap: 6px;

          .option-field{
            display: flex;
            align-items: end;
            gap: 5px;

            div{
              display: flex;
              border: 1px solid $blue;
              flex: 1 1 auto;
              border-radius: 4px;

              label{
                display: flex;
                background-color: $blue;
                color: $white;
                align-items: center;
                justify-content: center;
                line-height: 1;
                font-size: 13px;
                padding: 0 5px;
              }

              input{
                width: 100%;
                border: none;
              }
            }
          }
        }

        p{
          font-size: 16px;
          color: $black;
          font-weight: 600;
        }
      }
    }

    .btn-add-field {
      outline: none;
      margin: 0;
      font-size: 16px;
      &.no-show{
        display: none;
      }
    }

    .actions-edit-field{
      display: none;
      &.editing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }

      button{
        flex: 1 1 auto;
      }
    }
  }
}