// Colors
$primary: #a0c4ff;
$secondary: #a8e98e;
$white: #FFF;
$black: #000;
$red: #a60311;
$red50: rgba(236, 22, 22, 0.5);
$shadow: rgba(73, 73, 73, 0.308);
$basic1: #f3efefe1;
$placeholder: rgba(182, 182, 182, 0.877);
$blue: #4a33cc;
$blue50: rgba(72, 60, 241, 0.5);